.form {
  display: block;
  justify-content: center;
  width: 32vw;

&__header {
  margin-bottom: 5%;
}
}

fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
}

.conditionalForm {
  display: none;
}

.conditionalForm--activator:checked ~ .conditionalForm {
  display: inline-block;
}