*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1rem;
}

body {
  box-sizing: border-box;
  padding: 2rem;
}

h1 {
  color: $color-primary;
  display: flex;
}